<div class="date-filter">
  <mat-form-field appearance="outline" class="text-xs">
    <!-- <mat-label>Date Range</mat-label> -->
    <mat-date-range-input
      [formGroup]="dateFilter"
      [rangePicker]="picker"
      class="h-7"
    >
      <input matStartDate formControlName="start" placeholder="Data incial" />
      <input matEndDate formControlName="end" placeholder="Data final" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"
      ><mat-icon matDatepickerToggleIcon class="h-6">
        <img src="assets/calendar.svg" class="size-6" /> </mat-icon
    ></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <div>
    <button mat-raised-button color="warn" (click)="clearFilter()">
      Clear
    </button>
    <button mat-raised-button color="primary" (click)="applyFilter()">
      Filter
    </button>
  </div>
</div>
