<div class="flex align-center">
  <mat-form-field
    appearance="outline"
    class="text-xs rounded-xl border-white text-gray w-52"
  >
    <!-- <mat-label>Date Range</mat-label> -->
    <mat-date-range-input
      [formGroup]="dateFilter"
      [rangePicker]="picker"
      class="color-black p-0"
    >
      <input matStartDate formControlName="start" placeholder="Data incial" />
      <input matEndDate formControlName="end" placeholder="Data final" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker" class="p-0"
      ><mat-icon matDatepickerToggleIcon class="">
        <img src="assets/calendar.svg" class="size-4" /> </mat-icon
    ></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <div>
    <button class="clear-btn rounded-2xl w-28 h-[32px]" (click)="clearFilter()">
      <p>Limpar</p>
    </button>
    <button
      class="filter-btn rounded-2xl w-28 h-[32px]"
      (click)="applyFilter()"
    >
      <p class="text-white">Filtrar</p>
    </button>
  </div>
</div>
