@import "../../../styles.scss";

.header-list p {
  color: $gray-1 !important;
}

.filter {
  margin: 1rem 0;
}

.custom-pagination ::ng-deep .ngx-pagination .current {
  background: $primary;
  border-radius: 4px;
}

.custom-pagination ::ng-deep .ngx-pagination {
  background: $primary-extra-light;
}

.custom-pagination ::ng-deep .ngx-pagination .ngx-pagination-previous::before {
  color: blue !important;
  content: url("/assets/arrow-left.svg");
  display: inline-block;
  width: 1em; /* Adjust width as needed */
  height: 1em; /* Adjust height as needed */
}

.custom-pagination ::ng-deep .ngx-pagination .ngx-pagination-next::after {
  color: red !important;
  content: url("/assets/arrow-right.svg");
  display: inline-block;
  width: 1em; /* Adjust width as needed */
  height: 1em; /* Adjust height as needed */
}
