<div class="ocurrences-list">
  <div class="filter">
    <h4>Filtros</h4>
    <app-date-filter
      (dateRangeSelected)="onDateRangeSelected($event)"
    ></app-date-filter>
  </div>
  <div class="header-list grid grid-cols-2 gap-4 mx-9">
    <!-- Column Headers -->
    <div class="col-span-1 grid grid-cols-3 gap-4 items-center">
      <p class="text-left">Identificador</p>
      <p class="ml-8">Bairro</p>
      <p>Data do ocorrido</p>
    </div>
    <!-- Tipo de agressão -->
    <div class="col-span-1 flex items-center justify-center">
      <p class="">Tipo de agressão</p>
    </div>
  </div>

  <div
    *ngFor="
      let ocurrence of ocurrences
        | paginate : { itemsPerPage: itemsPerPage, currentPage: currentPage };
      let i = index
    "
  >
    <app-ocurrences-card
      [ocurrence]="ocurrence"
      [backgroundColor]="getCardBackgroundColor(i)"
      [routerLink]="['/details', ocurrence.id]"
    ></app-ocurrences-card>
  </div>

  <!-- Pagination Controls -->
  <pagination-controls
    class="custom-pagination"
    previousLabel=""
    nextLabel=""
    (pageChange)="onPageChange($event)"
  ></pagination-controls>
</div>
