<swiper-container loop="true" navigation="true" pagination="true" speed="500">
  <swiper-slide>
    <!-- <img src="https://swiperjs.com/demos/images/nature-1.jpg" alt="" />
      -->
    <app-doughnut-graph></app-doughnut-graph>
  </swiper-slide>
  <swiper-slide>
    <img src="https://swiperjs.com/demos/images/nature-2.jpg" alt="" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://swiperjs.com/demos/images/nature-3.jpg" alt="" />
  </swiper-slide>
  <!-- <div class="swiper-pagination"></div> -->
</swiper-container>
