// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$front-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($front-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($front-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($front-theme);
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Colors */
$primary: #5b43d9;
$primary-medium: #9886f2;
$primary-light: #c9beff;
$primary-extra-light: #f1ecff;

$black-1: #050505;
$black-2: #313131;
$black-3: #515151;
$black-4: #706f71;
$black: #000000;

$gray-1: #89888e;
$gray-2: #b6b5bb;
$gray-3: #e9e8eb;
$gray-4: #f8f8f8;
$white: #ffffff;

/* Global Typography */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-family: "Poppins", sans-serif;

h1 {
  font-family: $font-family;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  color: $black-2;
}

h2 {
  font-family: $font-family;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  color: $black-2;
}

h3 {
  font-family: $font-family;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: $black-2;
}

h4 {
  font-family: $font-family;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: $black-2;
}

body {
  font-family: $font-family;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: $black-2;
}

p {
  font-family: $font-family;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: $black-2;
}

.caption-1 {
  font-family: $font-family;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: $black-2;
}

.caption-2 {
  font-family: $font-family;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3125rem;
  color: $black-2;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
