@import "../../../styles.scss";

.caption-1.chip {
  color: $primary;
  border: 1px solid $primary-light;
  background-color: $primary-light;
  padding: 0.2rem 0.5rem;
  border-radius: 100px;
}
.custom-hover:hover {
  background-color: #f1ecff !important;
}
